<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="default">
      <ion-icon name="home"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grab">
      <ion-icon name="flash"></ion-icon>
      <ion-label>接单</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ongoing">
      <ion-icon name="apps"></ion-icon>
      <ion-label>进行中</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="certification">
      <ion-icon name="key"></ion-icon>
      <ion-label>认证</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>