<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      扫描中...
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="qrscanner-area"></div>
  <div class="through-line"></div>
  <div class="button-bottom">
    <ion-fab-button (click)="toggleLight()" color="success" class="icon-camera">
      <ion-icon name="flash"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="toggleCamera()" color="success" class="icon-camera">
      <ion-icon name="reverse-camera"></ion-icon>
    </ion-fab-button>
  </div>
</ion-content>