.tab-css {
    // display: block;
    // overflow-y: auto;
    // padding-top: 15px;
    margin-top: -15px;
    height: 40px;
    -webkit-justify-content: right !important;
    justify-content: right !important;
}

.tabs {
    -webkit-justify-content: right !important;
    justify-content: right !important;
}    