<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <ion-icon name="bus"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      抢单
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="tab-css">
    <ion-segment slot="end" style="width:160px">
      <ion-segment-button value="segment1">
        附近
      </ion-segment-button>
      <ion-segment-button value="segment2">
        城际
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let order of orders" (click)="showUserDetail(order)">
    <ion-item class="activated">
      <ion-label>{{order.sender?.name}}</ion-label>
      <ion-badge color="secondary" slot="end">距您{{order?.annotations?.get('distance')}}公里</ion-badge>
      <ion-icon name="pin" slot="end"></ion-icon>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-item>
            <ion-icon name="wifi" slot="start"></ion-icon>
            <ion-label>{{order.created | date:'MM/dd H:mm'}}</ion-label>
          </ion-item>
        </ion-row>
        <ion-row>起点:{{order.from?.name}}</ion-row>
        <ion-row>终点:{{order.to?.name}}</ion-row>
        <ion-row>
          <h6>需要车型:{{order.type}}</h6>
        </ion-row>
      </ion-col>
      <ion-col text-center align-self-center style="font-size: 20px;color: red;font-weight: bolder">{{order.fee}}元</ion-col>
    </ion-row>
  </ion-card>
</ion-content>