.selected {
    font-weight: bold;
   // text-decoration: underline;
}

.small-size {
    font-size: 12px;
}

.input-css {
    width: 400px;
    height: 25px;
}

.freight-size {
    height: 150%;
    width: 150%;
    margin-left: -50px
}