<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>选择位置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map_container class="map_container">
    <ion-input id="search" placeholder="输入关键字搜索地址"></ion-input>
    <div style="position:absolute;z-index: 9999;bottom:0;width: 100%;">
      <ion-input [(ngModel)]="positionName" color="success" style="border-style:solid;text-align: center;"
        placeholder="补充更详细地址信息(如楼栋/单元/房号)">
      </ion-input>
      <ion-button color="success" expand="block" (click)="confirmPosition()">确认地址</ion-button>
    </div>
  </div>
</ion-content>