<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <ion-icon name="lock"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      证件审核
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  审核列表

  <ion-grid>
    <ion-row *ngFor="let certification of certificationsAdmin" align-items-center>
      <ion-col text-center>
        {{certification.userid}}<br />
        {{certification.name}}
      </ion-col>
      <ion-col text-center>
        <img [src]="certification.imagedata" height="150px" width="150px">
      </ion-col>
      <ion-col text-center>
        <ion-icon name="checkmark-circle" (click)="review(certification,'通过')"></ion-icon>&nbsp;&nbsp;
        <ion-icon name="close-circle" (click)="review(certification,'请重传')"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>